.flex-row {
  align-items: flex-start;
  display: flex;
  height: 196px;
  margin-right: 4.0px;
  margin-top: 40px;
  min-width: 1280px;
  position: relative;
}
.flex-row-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 196px;
  margin-left: 80px;
  margin-top: 24px;
  min-width: 954px;
  position: relative;
}
.frame-1570 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 1637px;
  mix-blend-mode: normal;
  position: relative;
  width: 1444px;
}
.rectangle-85 {
  height: 469px;
  margin-right: 4.0px;
  margin-top: 40px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1440px;
}
.text-28 {
  color: var(--black);
  line-height: 28px;
  margin-left: 3.0px;
  margin-top: 40px;
  min-height: 160px;
  min-width: 1057px;
  mix-blend-mode: normal;
  width: 1057px;
}
.title {
  color: var(--black);
  font-weight: 800;
  height: 48px;
  line-height: 48px;
  margin-right: 88.0px;
  min-height: 48px;
  min-width: 412px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 412px;
}
.x06-insights-page-desktop {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  height: 1749px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
