.button-i2601267620-6Xv77l {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601267720-JmaVxQ {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601267820-YStR5x {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601267920-kwBYv9 {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601268020-CxCWom {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601268120-bmVGn3 {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601268220-lt0JRZ {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.i26012676-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012677-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012678-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012679-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012680-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012681-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i26012682-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.master-button-3Z9Sox {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-Rb8XA5 {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-d2XLtx {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-rWuaqe {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-xUGtXW {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-y0XYcU {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-zDgeum {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
